
@keyframes tooltip-appear {
    0% {
        opacity: 0%;
    }
    75% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes tabs-appear {
    0% {
        opacity: 0%;
        transform: translateY(-10rem);
    }
    100% {
        opacity: 100%;
        transform: translateY(0rem);
    }
}

@keyframes tabs-hide {
    0% {
        opacity: 100%;
        transform: translateY(0rem);
    }
    100% {
        opacity: 0%;
        transform: translateY(-10rem);
    }
}